// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// table th { font-weight: 400 !important; }

// /* Tu estilo de modal personalizado sigue igual */
// ::ng-deep .mi-modal-personalizado .mat-dialog-container {
//   padding: 24px;
//   border-radius: 12px;
//   max-width: 1000px;
// }

// /* ========= Zoom de la app (Chromium) ========= */
// .app-zoom-90 { zoom: 0.80; }

// /* ========= Fallback Firefox ========= */
// @supports not (zoom: 1) {
//   .app-zoom-80 {
//     transform: scale(0.8);
//     transform-origin: top left;
//     width: calc(100% / 0.8);
//     height: calc(100% / 0.8);
//     overflow-x: auto;
//     display: block;
//   }
// }

html, body { height: 100%; overflow-y: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Layout base */
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1 1 auto;    /* ocupa todo el alto disponible */
  min-height: 0;     /* evita overflow raro en hijos con scroll */
}

.app-footer {
  flex: 0 0 auto;
  background: #013a4c !important; /* o usa MatToolbar color="primary" */
  color: #fff !important;
  font-size: 0.9rem !important;
  justify-content: center;
}

/* Chrome/Edge/Safari */
.app-content.app-zoom-90 { zoom: 0.95; }

/* Firefox fallback SIN tocar width/height */
@supports not (zoom: 1) {
  .app-content.app-zoom-90 {
    transform: scale(0.95);
    transform-origin: top center;
  }
}
