<!-- <router-outlet></router-outlet> -->


 <!-- <mat-sidenav-container class="app-shell">
  <mat-sidenav-content class="app-content">
    <div class="zoom scale-80">
      <div class="zoom__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 
 -->



<!-- <app-header></app-header> -->

<div class="app-content app-zoom-90">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="app-footer" color="primary">
  Copyright © 2025 Defensoría del Pueblo. Todos los derechos reservados
</mat-toolbar>
