@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cdk-column-entidadLugares {
  max-width: 300px;           
  word-wrap: break-word;      
  word-break: break-word;   
  white-space: normal;        
  overflow-wrap: break-word;  
  hyphens: auto;              
  
  padding: 12px 8px !important;
  
  vertical-align: top;
}

.column-1{
  max-width: 30px;           
  hyphens: auto;              
  padding: 12px 8px !important;
  vertical-align: top;
}
.column-2{
  max-width: 50px;           
  hyphens: auto;              
  padding: 12px 8px !important;
  vertical-align: top;
}
.column-3{
  max-width: 70px;           
  hyphens: auto;              
  padding: 12px 8px !important;
  vertical-align: top;
}
.column-4{
  max-width: 70px;           
  hyphens: auto;              
  padding: 12px 8px !important;
  vertical-align: top;
}
.fichas-card {
  padding: 1rem 1rem 0.5rem;
  border-radius: 1rem;
}

.header {
  display: flex; gap: 1rem; align-items: center; justify-content: space-between; flex-wrap: wrap;
  margin-bottom: .75rem;

  .title {
    font-family: "Roboto", sans-serif;
    display: flex; align-items: center; gap: .5rem; margin: 0; font-weight: 800;
    color: #013a4c;
    mat-icon { font-variation-settings: "OPSZ" 24; color: var(--mdc-filled-button-container-color, #313b43); }
  }
  .header-actions { display: flex; gap: .5rem; }
}

.filters {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: .75rem;
  margin-bottom: .25rem;

  .filter { min-width: 220px; }
  .search { grid-column: 1 / -1; }
  .chips { padding: .25rem .25rem; }
}

.table-wrap {
  overflow: auto;
  max-height: calc(100vh - 360px); /* header + filtros + paginator visibles */
  border-radius: .75rem;
  border: 1px solid rgba(0,0,0,.06);
}

table {
  width: 100%;
  .thead {
    background: #29353f; color: #fff;
    th { font-weight: 600; }
  }
  .sticky { position: sticky; top: 0; z-index: 2; }
  .row { cursor: pointer; }
  .row:hover { background: rgba(2, 136, 209, 0.06)  }
  .mono { font-family: ui-monospace, SFMono-Regular, Menlo, monospace; }
  .ellipsis { display: inline-block; max-width: 520px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

  .sticky-actions { position: sticky; right: 0; background: #fff; z-index: 3; }
}

.pill {
  display: inline-flex; align-items: center; gap: .35rem;
  padding: .15rem .55rem; border-radius: 999px; font-size: .78rem; font-weight: 600;
  &--success { background: #e6f4ea; color: #137333; }
  &--warn    { background: #fff3cd; color: #8a6d3b; }
  &--info    { background: #e7f0ff; color: #1a73e8; }
  &--neutral { border: 1px solid #9d9d9d;
    color: #615b5b; }
}

.no-data td {
  text-align: center; padding: 2rem 1rem; color: #5f6368;
  mat-icon { vertical-align: middle; margin-right: .5rem; }
}

/* compacta celdas */
.mat-mdc-table .mdc-data-table__content tr > td,
.mat-mdc-table .mdc-data-table__header-row > th {
  padding: .6rem .8rem;
}


.iconEditar{
  color: #29405e !important;
}

.iconDelete{
  color: #860202 !important;
}

.alignIcon{
  display: flex;
  align-items: center;
  align-self: center;
  
}


.mat-mdc-row:hover{
  background-color: #d1d1d1a6;
  cursor: pointer;
  
}