

<mat-card style="max-width: 720px; margin: 2rem auto; padding: 2rem; text-align: center; border-radius: 16px;">
  <!-- Encabezado -->
  <mat-icon style="font-size: 48px; color: #6a8ea9; margin-bottom: .5rem;">waving_hand</mat-icon>
  <h2 style="margin: 0; font-weight: 600; color: #3b4c68;">
    BIENVENIDO AL SISTEMA DE SUPERVISIÓN A OFICINAS CONSULARES DEL MINISTERIO DE RELACIONES EXTERIORES

  </h2>

  <p style="color: #555; margin-top: .75rem; font-size: 15px; line-height: 1.6;">
    
   Su labor es clave para garantizar datos precisos y confiables que coadyuven con la competencia constitucional de supervisión de la <strong>Defensoría del Pueblo</strong>.<br>
   Agradecemos su compromiso con la transparencia y la mejora de los servicios.
  </p>

  <mat-divider style="margin: 1rem 0;"></mat-divider>
  <span></span>
      <p style="margin:.25rem 0 0 0; color:#666; font-size: 13px;">
        <strong>Alcance :</strong> Mundial -  118 Oficinas Consulares
      </p>
       <span></span>
      <p style="margin:.25rem 0 0 0; color:#666; font-size: 13px;">
        <strong>Beneficiarios/as :</strong> Comunidad peruana en el exterior (3.5 millones de peruanos – INEI).
      </p>
  <!-- Objetivos -->
  <div style="text-align: left; margin-top: .5rem;">
    <h3 style="margin: 0 0 .5rem 0; font-size: 16px; color: #6a8ea9; font-weight: 600; display: flex; align-items: center; gap: .5rem;">
      <mat-icon style="vertical-align: middle;">flag</mat-icon>
      Objetivo
    </h3>

    <!-- Objetivo 1 -->
    <div style="display: grid; grid-template-columns: auto 1fr; gap: .5rem 1rem; align-items: start; margin-top: .5rem;">
      <span style="background:#E3F2FD; color:#6a8ea9; font-weight:600; padding:.15rem .5rem; border-radius:999px; min-width:2rem; text-align:center;">1</span>
      <p style="margin:0; color:#444; line-height:1.6;">
Evaluar la prestación de los servicios de protección legal, asistencia humanitaria, vinculación con la comunidad peruana y asuntos consulares que brinda el Ministerio de Relaciones Exteriores, a través de sus oficinas consulares, a los peruanos en el exterior.      </p>
    </div>

  
  </div>

  <mat-divider style="margin: 1rem 0;"></mat-divider>
  <!-- Contacto -->
  <p style="color: #666; font-size: 14px; margin: 0;">
    ¿Dudas o consultas? Escríbanos a:
    <a href="mailto:jruiz&#64;defensoria.gob.pe">jgranados&#64;defensoria.gob.pe</a>
  </p>
</mat-card>